.list {
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem 3rem 1.5rem;
  width: 95%;
}

.list:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.meal {
  font-weight: 400;
  font-size: 2rem;
}

.name {
  font-weight: 700;
}

.desc {
  font-size: 1.4rem;
  font-style: italic;
}

.price {
  color: #c3410e;
  font-weight: 700;
}
